body {
    margin: 0 0 0 20px;
    font-family: "Helvetica", sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

a{
    color: seashell;
    text-decoration: underline;
}

/* Header */

header{
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: black;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    clear: top;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.logo{
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
}

.logo img {
  height: 50px;
}

/* Main */

#main{
    height: 770px;
    background-image: url(../Images/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    justify-content: space-between;
}

.mission{
    align-items: center;
    background-color: black;
    width: 1200px;
    margin: auto;
}

/* Featured */

#featured{
    height: 700px;
    width: 1000px;
    display: inline-flex;
    flex-flow: column wrap;
    margin-bottom: 50px;
}

#featured img{
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}

.flavours {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tea{
    flex-basis: 300px;
    align-items: center;
    margin-bottom: 25px ;
    
}

.right {
    margin-right: 25px ; 
}

.left {
    margin-left: 25px ;
}

.tea h4{
    margin: 0;
}

/* Location */

#locations{
    width: 1200px;
    height: 500px;
    background-image: url(../Images/img-locations-background.jpg);
    display: inline-flex;
    flex-flow: column wrap;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}

.info {
    height: 300px;
    display: inline-flex;
    justify-content: center;
}

.address{
    flex-basis: 300px;
    margin: 0 20px;
    background-color: black;
    opacity: 1;
    display: flex;
    flex-flow:column;
    align-content: space-between;
}

.address span{
    align-items: stretch;
}

.info h2{
    margin-bottom; 0;
}

/* Contact and Footer */

#contact {
    height:200px;
}

footer{
    text-align: left;
    padding-bottom: 20px;
}